.grid-container {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  height: 400px;
  width: 1000px;

  .title {
    color: #1976D2;
  }

  .btn-delete {
    display: flex;
    justify-content: flex-end;
  }
}
